body{
    font-family: Arial, sans-serif;
    background-color: rgb(200, 199, 199);
}

h1{
    color: rgb(139, 6, 151);
}

form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}